.frame {
  width: 100%;
  height: 100dhv;
  overflow: hidden;
}

.frame-class {
  width: 100%;
  height: calc(100dvh - 55px); 
  margin-top: 55px; 
  border: none;
  display: block;
}
.frame iframe {
  position: relative;
  top: -55px;
}

